<% layout("partials/boilerplate.ejs") %> 

    <div class="container">
        <% var counter=0; %>
        <h1 class="mt-4">Let the reviews do the talking!</h1>
        
        <div class="card-group  row mx-2">
            <% var counter = 0; %> 
        <% for(let review of reviews) {%> 

                <div class="col-sm-6 p-0 ">
                <div class="card">
                    <img class="card-img-top" src="<%= review.image.url %>?random=<%= counter %> " alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><%= review.title %> </h5>
                        <p class="card-text"><%= review.description  %> </p>
                        <p class="card-text"><small class="text-muted">Created on: <%= moment(review.createdOn).format("Do MMMM, YYYY LT") %> </small></p>
                        <a href="/reviews/<%= review._id %>"><button>Detail</button></a>
                    </div>
                </div> 
                </div>
                <% counter+=1; %> 
        <% } %> 
        </div>
    </div>
